<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gemini Chat - Capricorncd</title>
  <meta name="author" content="capricorncd">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.4.7/dist/vuetify.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <meta name="author" content="https://github.com/capricorncd/chat-google-gemini" />
  <style>
    .github-logo {
      display: inline-flex;
      align-items: center;
      color: #fff;
      opacity: 0.7;
    }

    .github-logo:hover {
      opacity: 0.9;
    }

    .file-input {
      cursor: pointer;
      border: 1px solid rgb(var(--v-theme-success));
      border-radius: 4px;
    }

    .file-input:hover {
      opacity: 0.8;
    }

    .v-alert__content section img {
      max-width: 100%;
    }

    .btn-send {
      height: 56px !important;
      border-radius: 4px !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-layout class="rounded rounded-md">
      <v-app-bar color="blue" flat title="Gemini Chat" icon="mdi-google" elevation="2">
        <template v-slot:append>
          <a class="github-logo mr-4" href="https://github.com/capricorncd/chat-google-gemini" target="_blank">
            <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true">
              <path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
                fill="currentColor">
              </path>
            </svg>
          </a>
          <v-switch v-show="!isSm" v-model="drawer" hide-details inset label="Options"></v-switch>
        </template>
      </v-app-bar>

      <v-navigation-drawer location="right" permanent v-model="drawer">
        <v-list-item title="Options"></v-list-item>
        <v-divider></v-divider>
        <v-list-item class="mt-4">
          <v-select class="pt-2" label="Model" :items="modelList" v-model="model" variant="outlined"
            density="comfortable" hide-details></v-select>
        </v-list-item>

        <v-list-item>
          <v-btn variant="flat" @click="reset" block color="blue" size="large">Reset</v-btn>
        </v-list-item>
        <v-list-item>
          <v-btn variant="flat" @click="clearHistory" block color="yellow" size="large">Reset history</v-btn>
        </v-list-item>
        <v-list-item title="Image and text inputs" v-show="model === 'gemini-pro-vision'" class="mt-4">
          <label class="d-flex justify-center align-center flex-column text-success pa-6 mt-4 file-input">
            <v-icon color="success" icon="mdi-image-area-close" size="x-large"></v-icon>
            Choose image
            <input type="file" style="display:none" ref="fileInput" accept="image/*" @change="onFileInputChange" />
          </label>
        </v-list-item>
      </v-navigation-drawer>

      <v-main class="d-flex flex-column justify-space-between">
        <v-list ref="listRef" height="calc(100vh - 180px)">
          <chat-item v-for="(item, i) in chatList" :key="i" :item="item" @close="removeChatItem(i)" />
        </v-list>

        <v-row>
          <v-col cols="12" class="pb-0 pt-10 d-flex align-center">
            <v-text-field v-model="message" placeholder="Message Gemini AI ..." variant="outlined" :disabled="loading"
              :loading="loading" @keyup.enter="sendMessage" class="ml-4" hide-details clearable></v-text-field>
            <v-btn class="mr-4 ml-2 btn-send" color="blue" size="x-large" variant="flat" @click="sendMessage"
              icon="mdi-arrow-up" :disabled="disabled" title="Send Message" rounded="0"></v-btn>
          </v-col>
        </v-row>

      </v-main>
    </v-layout>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.7/dist/vuetify.min.js"></script>
  <script src="./static/image-process.umd.js"></script>
  <script src="./static/utils.js"></script>
  <script src="./static/main.js"></script>
</body>

</html>